main{
    display: flex; 
}

.info{
    width: 20%;
    padding: 2%;
    text-align: center;
    border-right: 4px solid #0000ff;
    border-top: 4px solid #0000ff;
}

.currriculo{
    width: 70%;
    padding: 1.5%;
}
 img{
    max-width: 100%;
    
 }

 .info img{
    border-radius: 50%;
 }

 footer{
     background-color: #000000;
     padding: 1% 0%;
     text-align: center;
     color: #ffffff;
     position: absolute;
     width: 100%;
     
 }